.container{
    text-align: center;
}

.formDiv{
    display: flex;
    justify-content: center;
}

.listContainer{
    display: flex;
    justify-content: center;

     div{
        padding: 2px;
    }
}